@media (min-width: 576px) {
    img {
        width: 100px;
        height: 100px;
    }
}

img {
    width: 50px;
    height: 50px;
}

i {
    font-size: 48px !important;
}

i, #play-button {
    width: 48px;
    height: 48px;
}

.list-group-item.active {
    background-color: #00ba8c;
    border-color: #00ba8c;
}

.list-group-item.active .text-muted {
    color: white !important;
}